@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root{
    --primary-color:rgb(34, 34, 34);
    --off-white-color: rgba(233, 233, 233, 0.795);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0rem ;
}

.header{
    text-align: center;
}
/**head{
    font-family: 'Poppins', sans-serif;
}**/
.container{
    padding:0rem 1rem;
}
 .container-center{
    max-width:600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
}
.link-primary{
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    color: white;
    border-radius: .5rem;
    font-weight: bold;
    margin:1rem;
}
.link-secondary{
    border: 2px solid var(--primary-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
    color:var(--primary-color);
    font-weight: bold;
}
.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}
/* button */
button{
    
    padding: .5rem 1rem;
    background-color:var(--primary-color);
    color: white;
    border-radius: .5rem;
    font-size:1rem;
    font-weight: bold;
}
/* navigation */
.navigation {
    background-color:var(--primary-color);
    padding: .5rem 1rem 0rem;
    /* position: fixed; */
}
#nav-name {
    font-size: x-large;
    font-weight: bold;
    padding-top: 1rem;
}
.nav-items{
    text-align:right;
}
nav a {
    color: white;
}
#link-active{
    background-color: white;
    color:var(--primary-color);
    font-weight: bolder; 
    padding:.3rem;
}

/* header */
.intro{
    padding: 2rem;
    display:flex;
    text-align:center;
    max-width:90%;
    margin:auto;
}
.intro-text{
    max-width: 50%;
    
}
.intro-heading{
    color: var(--primary-color);
}
.img{
    max-height: 250px;
    max-width: 50%;
    margin-left: 10%;
}

/* section */
.section{
    text-align: center;
    padding: 2rem; 
    border-radius: 1rem;  
    max-width: 80%
    
}

.ow{
    background-color: var(--off-white-color);
}

/* footer */
.footer{
    background-color: var(--primary-color);
    text-align: center;
    padding: .5rem 1rem;
    
}
.footer-header{
    font-weight:bold;
    font-size:1.3rem;
    color:white
}
.footer .link{
    color: white;
}
footer ul{
    padding-inline-start: 0rem;
}
.footer-icons{
    max-width:100%;
    width:2em;
}



